body { font-family: Arial; }
.login, .sidebar {padding: 20px; }
.navbar { background: #222; color: white; padding: 10px; }
.container { display: flex; }
.sidebar { width: 250px;}
.grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; }
.card { border: 1px solid #ccc; padding: 10px; }
